<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">CASPER</span>
        </div>
        <ul class="nav navbar-nav">
            <li><a (click)="onClickPatients()">PATIENTEN</a></li>
            <li><a (click)="onClickTherapists()">THERAPEUTEN</a></li>
            <li><a (click)="onClicFacilities()">EINRICHTUNGEN</a></li>
            
        </ul>
    </div>
</nav>
<!--
<header role="banner" class="header">
    <div class="header__inner" data-behaviour="burger">
        <div class="header__logo">
            <strong class="logo">

                <h1>Caspar Health</h1>
                <span class="logo__brand">
                    <svg>
                    <use xlink:href="/assets/svg/sprite.svg#caspar-logo"></use>
                    </svg>

                 </span>

            </strong>



    <button class="burger" data-ref="trigger" data-class-active="burger--active">
    <span>Mobiles Menü aktivieren / deaktivieren</span>
    </button>

    </div>
    <div class="header__menuWrapper">
    <div class="header__menu" data-ref="menu" data-class-active="header__menu--active">
    <nav role="navigation" class="menuMain">



    <a class="menuItem menuItem--arrowed menuItem--hasIcon" href="/patienten/">
    <svg>
    <use xlink:href="/assets/svg/sprite.svg#icon-arrow"></use>
    </svg>
    Patienten
    </a>



    <a class="menuItem menuItem--arrowed menuItem--hasIcon" href="/therapeuten/">
    <svg>
    <use xlink:href="/assets/svg/sprite.svg#icon-arrow"></use>
    </svg>
    Therapeuten
    </a>



    <a class="menuItem menuItem--arrowed menuItem--hasIcon" href="/einrichtungen/">
    <svg>
    <use xlink:href="/assets/svg/sprite.svg#icon-arrow"></use>
    </svg>
    Einrichtungen
    </a>


    </nav>

    <nav role="navigation" class="menuMeta">



    <a class="menuItem menuItem--arrowed menuItem--hasIcon" href="/karriere/">
    <svg>
    <use xlink:href="/assets/svg/sprite.svg#icon-arrow"></use>
    </svg>
    Karriere
    </a>



    <a class="menuItem menuItem--arrowed menuItem--hasIcon" href="/das-team/">
    <svg>
    <use xlink:href="/assets/svg/sprite.svg#icon-arrow"></use>
    </svg>
    Das Team
    </a>



    <a class="menuItem menuItem--arrowed menuItem--hasIcon" href="/fragen-und-antworten/">
    <svg>
    <use xlink:href="/assets/svg/sprite.svg#icon-arrow"></use>
    </svg>
    <span>FAQs</span>
    </a>



    <a class="menuItem menuItem--arrowed menuItem--hasIcon" href="/kontakt-und-standorte/">
    <svg>
    <use xlink:href="/assets/svg/sprite.svg#icon-arrow"></use>
    </svg>
    Kontakt / Standorte
    </a>



    <button style="display: inherit;" class="menuItem menuItem--hasIcon" data-behaviour="languages" data-language-hide-for="de">
    <div class="menuItem__inner">
    <svg>
    <use xlink:href="/assets/svg/sprite.svg#icon-languages"></use>
    </svg>
    Deutsch

    </div>
    </button>
    <div class="login">
    <a href="https://caspar-health.com/login"><svg>
    <use xlink:href="/assets/svg/sprite.svg#icon-login"></use>
    </svg>
    Login
    </a>
    </div>

    </nav>

    </div>
    </div>
    </div>
    </header>
-->